h1
{
	color: black;
	text-align: right;
}

h3
{
	text-align: center;
}

.phone
{
	color: purple;
	text-decoration: underline;
	text-align: center;
}

.numbers
{
	color: purple;
	text-align: center;
	text-decoration: unset;
}